/* .form-container {
   text-align: center;
   font-family: 'Open Sans' sans-serif;
   position: relative;
   bottom: 30px;
}


.sub-Title {
    position: relative;
    bottom: 40px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}


.btn-Validation {
    display: inline-block;
    width: 450px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: #FF9F1B;
    color: white;
    padding: 0px 24px;
    font-size: 20px;
}

.inputName{
    width: 400px;
    height: 55px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 24px;
    font-size: 20px;
}

.main-container {
    position: relative;
    bottom: 150px;
}

.input-container {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 35px;
}

.row {
    background-color: #FF9F1B;
    height: 3px;
    
width: 400px;
height: 3px;
flex-shrink: 0;
border: 1px solid #F56A2C;
background: #F56A2C;
} */