/* img {
    height: 190px;
    width: 270px;
    position: relative;
    top: 25px;
}

h3 {
    font-size: 180px;
    color: #FF9F1B;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.logoBurger {
    display: flex;
    position: relative;
    bottom: 70px;
} */


/* span {
    font-size: 3rem;
} */